### Processing free-text

In [2]:
text10 = ' "Ethics are built right into the ideals and objectives of the United Nations" #UNSG @ NY Society for Ethical Culture bit.ly/2guVelr @UN @UN_WOMEN'

In [3]:
text11 = text10.split(' ')
text11

['',
 '"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations"',
 '#UNSG',
 '@',
 'NY',
 'Society',
 'for',
 'Ethical',
 'Culture',
 'bit.ly/2guVelr',
 '@UN',
 '@UN_WOMEN']

In [4]:
([word for word in text10.split() if word.startswith('#')])

['#UNSG']

### Callouts

In [5]:
[w for w in text11 if w.startswith('@')] #don't want just @

['@', '@UN', '@UN_WOMEN']

In [6]:
import re #import regex package
[w for w in text11 if re.search('@[A-Za-z0-9_]+', w)]

['@UN', '@UN_WOMEN']

Analyze the expression @[A-Za-z0-9_]

@ -> just the @

A-Za-z0-9 -> followed by alphabet, digit, or underscore

[]+ -> that repeats at least once, but any number of times

Meta-characters: Character matches

    . -> wildcard, matches a single character
    ^ -> matches empty character start of a string
    $ -> end of a string
    [] -> matches one of the set of characters within []
    [a-z] -> matches on of the range of characters in lowercase alphabet
    [^abc] -> matches a character that is not a, b, or c
    a|b -> matches 
    () -> Scoping for operators
    \ -> Escape character for special characters (\t, \n, \b)
    
    \b -> Matchess word boundary
    \d -> Any digit, equivalent to [0-9]
    \D -> Any non-digit, equivalent to [^0-9]
    \s -> Any whitespace, equivalent to [ \t\n\r\f\v]
    \S -> Any nonwhitespace, equivalent to [a-zA-Z0-9_]
    \w -> Any alphanumeric, equivalent to [a-zA-Z0-9_]
    \W -> Non-alphanumeric, equivalent to [^a-zA-Z0-9_]

Meta Characters: Repititions
    
    * -> matches zero or more occurrences
    + -> matches one or more occurrences
    ? -> matches zero or one occurences
    {n} exactly n repetitions, n>=0
    {n,} at least n repetitions
    {,n} at most n repetitions
    {m,n} at least m and at most n repetitions

In [8]:
text10
text11 = text10.split(' ')

[w for w in text11 if re.search('@[A-Za-z0-9_]+', w)]

['@UN', '@UN_WOMEN']

In [9]:
[w for w in text11 if re.search('@\w+', w)]

['@UN', '@UN_WOMEN']

In [15]:
#Finding specific characters
text12 = 'ouagadougou'
re.findall(r'[aeiou]', text12)

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']

In [16]:
re.findall(r'[^aeiou]', text12)

['g', 'd', 'g']

### Case Study: Regular expression for Dates

Date Variations for 23rd October 2002

    23-10-2002
    23/10/2002
    23/10/02
    10/23/2002
    23 Oct 2002
    23 October 2002
    Oct 23, 2002
    October 23, 2002

In [20]:
dateStr = '23-10-2002\n23/10/2002\n23/10/02\n10/23/2002\n23 Oct 2002\n23 October 2002\nOct23, 2002\nOctober23, 2002\n'

re.findall(r'\d{2}[/-]\d{2}[/-]\d{4}', dateStr)

['23-10-2002', '23/10/2002', '10/23/2002']

In [21]:
re.findall(r'\d{2}[/-]\d{2}[/-]\d{2,4}', dateStr)

['23-10-2002', '23/10/2002', '23/10/02', '10/23/2002']

In [22]:
re.findall(r'\d{1,2}[/-]\d{1,2}[/-]\d{2,4}', dateStr)

['23-10-2002', '23/10/2002', '23/10/02', '10/23/2002']

In [23]:
re.findall(r'\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}', dateStr)

['Oct']

In [24]:
re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}', dateStr)

['23 Oct 2002']

In [29]:
re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{4}', dateStr)

['23 Oct 2002', '23 October 2002']

In [33]:
re.findall(r'(?:\d{2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{2}, )?\d{4}', dateStr)

['23 Oct 2002', '23 October 2002']